@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Mulish:wght@200;300;400;700;900&display=swap');

/* NAVBAR */

header{
    width: 100%;
    height: 50px;
}
.nav-ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 15vh;
    background-color:#f6f6f6;
    color: #790729;
    box-shadow: -1px 10px 13px 0px rgba(0,0,0,0.35);
}
.nav-title{
    margin-left: 2.6em;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 3em;
    width: 50%;
    height: 100%;
    font-family: 'Mulish', sans-serif;
    list-style: none;
}
.nav-a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    color: #790729;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px solid #790729;
    border: hidden;
    font-weight: bold;
}
.nav-li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    color: #790729;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 300ms;

}
.nav-a:hover{
    border-bottom: 1px solid #790729;
    cursor: pointer;
}
.nav-icon{
    display: none;
}
.nav-ul-toggle{
    display: none;
}

.li-inicioSesion{
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid #790729;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 800ms;
}

.li-inicioSesion:hover{
    background-color: #790729;
    color: #e2e2e2;
}

/* HERO */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6
}
.hero-ctn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 92.4vh;
}
.hero-txt-btns{
    width: 60%;
    margin-top: 10%;
}
.hero-txt-btns h2{
    margin-top: .5em;
    margin-left: .5em;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: #3E3636;
}
.hero-spn{
    margin-top: .5em;
    margin-left: .5em;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 3.2em;
    color: #790729
}
.hero-txt-btns .hero-p{
    width: 90%;
    margin-top: .5em;
    margin-left: 1.4em;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
    color: #3E3636;
}
.btns-ctn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 60px;
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 1.8em;
}
.hero-btn{
    width: 200px;
    height: 45px;
    margin-top: 25px;
    margin-right: 25px;
    border: none;
    border-radius: 5px;
    background-color: #790729;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #f6f6f6;
    cursor: pointer;
}
.hero-btnlog{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 200px;
    height: 45px;
    margin-top: 25px;
    margin-right: 25px;
    border: none;
    border-radius: 5px;
    background-color: #24a249;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #f6f6f6;
    cursor: pointer;
}
.btn-s{
    width: 168px;
    height: 44px;
    font-size: 1.1em;
    background-color: #3E3636;
}
.check-icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 60px;
    margin-top: .5em;
    margin-left: 1.8em;
}
.chek{
    display: flex;
    align-items: center;
    width: 100%;
    
}
.check-icon{
    color: black;
    margin-right: 15px ;
}
.check-p{
    color: #790729;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.hero-img{
    width: 40%;
    margin-top: 10%; 
}

.hero-img img{
    border-radius: 50%;
}



@media (max-width: 770px){
    .nav-title{
        margin-left: 1.2em;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Mulish', sans-serif;
    
        cursor: pointer;
    }
    .nav-ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        margin-right: 1.5em;
        width: 470px;
        height: 100%;
        
        font-family: 'Mulish', sans-serif;
        list-style: none;
    }
    .nav-ul-toggle{
        display: none;
    }
}
@media (max-width: 550px){
    .nav-ctn{
        display: flex;
        background-color: #f6f6f6;
    }
    .nav-icon{
        display: flex;
        margin: 1.8em;
    }
    .nav-ul{
        display: none;
    }
    .active{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 230px;
        width: 100%;

        font-family: 'Mulish', sans-serif;
        list-style: none;
        background-color: #f6f6f6;
        color: #790729;
    }
    .nav-a-sm{
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #790729;
        font-size: 1rem;
    }
    .nav-li_a{
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        width: 100%;
        font-size: 1rem;
        transition: 300ms;
    }

    .nav-a-sm:hover{
        background-color: #e2e2e2;
        font-weight: bold;
        cursor: pointer;
    }
}