@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Mulish:wght@200;300;400;700;900&display=swap');

.divFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0a0a0a
}

.divLinks{
    display: flex;
    width: 100%;
    margin-top: 2%;
    flex-direction: row;
    gap: 2%;
    justify-content: space-around;
}

.divOne{
    display: flex;
    align-items: center;
}

.divOne ul{
    text-align: justify;
    color: #f6f6f6;
}

.divOne ul li{
    color: gray;
    letter-spacing: 1px;
    padding-bottom: 10px;
    cursor: pointer;
}

.divOne ul li:hover{
    color: #f6f6f6;
}

.divOneTwo{
    display: flex;
    align-items: center;
}

.divOneTwo ul{
    text-align: justify;
    color: #f6f6f6;
}

.divOneTwo ul li{
    color: gray;
    letter-spacing: 1px;
    padding-bottom: 10px;
    cursor: pointer;
}

.divOneTwo ul li:hover{
    color: #f6f6f6;
}

.divTwo{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 1%;
    height: 40px;
}

.icoFace{
    color: #f6f6f6;
    font-size: 2rem;
    transition: 400ms;
    cursor: pointer;
}

.icoFace:hover{
    color: #0050c0;
}

.icoIns{
    color: #f6f6f6;
    font-size: 2.3rem;
    transition: 400ms;
    cursor: pointer;
}

.icoIns:hover{
    color: #cc2366
}

.icoGit{
    color: #f6f6f6;
    font-size: 2.3rem;
    transition: 400ms;
    cursor: pointer;
}

.icoGit:hover{
    color: gray;
}

.icoYou{
    color: #f6f6f6;
    font-size: 2.3rem;
    transition: 400ms;
    cursor: pointer;
}

.icoYou:hover{
    color: #ff0000
}

.icoLink{
    color: #f6f6f6;
    font-size: 2.3rem;
    transition: 400ms;
    cursor: pointer;
}

.icoLink:hover{
    color: #0a66c2;
}

.divThree{
    display: flex;
    align-items: center;
}

.divThree ul{
    text-align: justify;
    color: #f6f6f6;
}

.divThree ul li{
    color: gray;
    letter-spacing: 1px;
    padding-bottom: 10px;
    cursor: pointer;
}

.divThree ul li:hover{
    color: #f6f6f6;
}

.divThree a{
    color: gray;
    letter-spacing: 1px;
    padding-bottom: 10px;
    cursor: pointer;
}

.divThree a:hover{
    color: #f6f6f6;
}

.divThreeTwo ul{
    text-align: justify;
}

.divThreeTwo ul li{
    color: gray;
    letter-spacing: 1px;
    padding-bottom: 10px;
    cursor: pointer;
}

.divThreeTwo ul li:hover{
    color: #f6f6f6;
}

.divCopyright{
    margin-top: 1%;
    width: 100%;
    height: 50px;
    background-color: #000;
}

.divCopyright p{
    margin-top: 1%;
    color: #f6f6f6;
    text-align: center;
    font-weight: 400;
    font-family: 'Lato';
}

.divCopyright p b{
    color: #790729;;
}